---
name: release
on:
  push:
    branches: [master]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '20'
      - run: npm install -g pnpm
      - run: pnpm i
      - run: pnpm build
      - run: |
          npm install -g \
            semantic-release \
            @semantic-release/github \
            @semantic-release/git \
            @semantic-release/exec \
            @semantic-release/changelog \
            @semantic-release/npm \
            aggregate-error@3.1.0
      - run: semantic-release
        env:
          GH_TOKEN: ${{ secrets.PAT }}
